extends layout

block content
  nav#headerNav.teal.darken-1(role='navigation')
    .nav-wrapper.container
      a#logo-container.brand-logo(href='#')
        img(src='images/BrailleTrailV4.png')
      ul.right.hide-on-med-and-down
        li
          a(href='http://norimainnovations.com')
            img#norimaLogo(src="/images/download.png")
  #index-banner.section.no-pad-bot
    .container
      br
      br
      h2.header.center.teal-text.text-darken-3 Get Started

      .row
        form.col.s12
          .row
            .input-field.col.s12.m6.offset-m3
              i.material-icons.prefix mode_edit
              input#inputText.materialize-textarea.checkForInput(type="text")
              label(for='inputText') Sign Text
          .row
            .input-field.col.s12.m3.offset-m3
              label() Options
          .row
            .input-field.col.s12.m3.offset-m3
              label Font Size
              br
              p
                input#smallFont(name='size', type='radio' value='s').checkForInput
                label(for='smallFont') Small
              p
                input#mediumFont(name='size', type='radio' value='m').checkForInput
                label(for='mediumFont') Medium
              p
                input#largeFont(name='size', type='radio' value='l').checkForInput
                label(for='largeFont') Large

            .input-field.col.s3
              label Back Side Options
              br
              p
                input#backNone(name='backPlate', type='radio' value='none').checkForInput
                label(for='backNone') None
              p
                input#backKeyHole(name='backPlate', type='radio' value='keyHole').checkForInput
                label(for='backKeyHole') Key Hole
      .row.center
        a#download-button.btn-large.waves-effect.waves-light.orange.disabled Download


      br
      br

  footer.page-footer.orange.darken-1
    .container
      .row
        .col.l6.s12
          h5.white-text  Bio
          p.grey-text.text-lighten-5
            | We are a small team of software developers who love to solve difficult problems. This project was built across two company hack days in 2016. This project was envisioned by Seth Ruf.
    .footer-copyright
      .container
        | Made by&nbsp;
        a.white-text(href='http://norimainnovations.com', style="font-weight: bold;") Norima Innovations
    script(src='/javascripts/index.js')
